<title>About</title>

<head>
	<h1>Using lyrics from the 500 greatest songs according to Rolling Stone magazine, Like a Rolling Stone visualizes the lyrics used in quality music in an attempt to glimpse the zeitgeist for any one year during the past 60. Come join us for a journey through the evolution of Rock and Roll and American culture! </h1>
</head>	

<body>
	<h2>Like a Rolling Stone was created by Kevin Jasieniecki and Ian Lovrich at Boilermake in 2014.


	<a href="https://github.com/Greedoid">Kevin's Github</a>

	<a href="http://slicedbread.us">Ian's Website</a>

</h2>

<h1><a href='/'>Back to Like a Rolling Stone</a></h1>

</body>

